<!DOCTYPE html>
<html>
  <head>
    <title>Anaconda</title>
      <link rel="icon" 
      type="image/png" 
      href="/images/favicon.png" />
  
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  
  </head>

  <body>

    <script>
      alert("Use your arrows to navigate your anaconda to eat as many apples as possible! Make sure you avoid your tail and the edges.");
    </script>

    <div id="container">
      <div id="board">
      </div>
      <div id="score">
      </div>

      <div id="top-score">
      </div>
    </div>

    <script>
      $(function () { 
        new AG.View($("#board"), $("#score")).start();
      });
    </script>


  </body>
</html>
