.cell {
  float: left;
  height: 40px;
  width: 40px;
  background: #eee;

  border: solid gray 1px;
}

.snake {
  background-color: green
}

.mouse {
  background-color: gray;
}

.row {
  clear: both;
}
