#container {
	width: 1500px;
	height: 1500px;
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	margin-bottom: auto;
}

.cell {
  float: left;
  height: 40px;
  width: 40px;
  background: #eee;

  border: solid gray 1px;
}

.anaconda {
  background-color: green
}

.mouse {
  background-color: gray;
}

.row {
  clear: both;
}
